<div routerLink="/recipe">
  <img src="/assets/img/pexels-foodie-factor-566566.jpg" alt="Eggs" />
  <div class="fw-bold fs-4">Example dish</div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab animi
    cupiditate eos esse et fugiat iste libero, maiores officia quam,
    reprehenderit sapiente suscipit totam ullam vel voluptas. Consequatur cum
    cumque debitis dolores ea eaque eligendi error est itaque maiores nihil nisi
    possimus, quisquam saepe velit veniam voluptatibus. Ab animi assumenda at
    beatae consequatur debitis, doloribus, earum eius, harum id impedit in ipsa
    magni mollitia necessitatibus odit officiis omnis perspiciatis praesentium
    reprehenderit sequi similique veritatis. Aliquam aliquid atque debitis
    doloribus exercitationem illum, inventore iusto nisi omnis praesentium quam,
    quas qui quisquam repellat veritatis vitae voluptates. In nulla repellendus
    velit voluptas!
  </div>
</div>
<router-outlet></router-outlet>
