<div class="container-fluid">
  <div class="row bg-light justify-content-evenly">
    <div class="col-lg-5">
      <app-carousel></app-carousel>
    </div>
    <div class="col-lg-5 px-1 border border-1 bg-white">
      <div class="fs-3 fw-bold">Example title</div>
      <div class="text-black-50">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
        dolorem hic iste possimus repellat? Amet deserunt possimus ratione
        rerum. Ad asperiores beatae debitis earum error eum exercitationem
        explicabo iusto modi molestiae, officiis porro quisquam quos repellat
        sint suscipit temporibus ullam vel veritatis voluptatibus? Ab enim ipsum
        quod ratione repudiandae soluta vitae. Adipisci, amet architecto
        dignissimos eaque harum in incidunt, iure iusto obcaecati omnis quaerat
        quo quos, repellendus sed sunt unde vero? Accusantium et iste
        laudantium, nemo sequi sint voluptatibus! Alias amet consectetur culpa
        delectus dolore dolores eaque earum enim est et eum hic ipsam iste
        labore laudantium natus nemo obcaecati, provident quae quam quisquam
        repellendus reprehenderit unde vitae voluptate. Adipisci cupiditate
        dolore ducimus explicabo hic in iure nihil nobis nostrum quaerat qui
        quod, reprehenderit sit. Ad aliquam aut beatae corporis, delectus,
        dignissimos dolorem enim eum eveniet explicabo facere impedit inventore
        itaque laudantium libero mollitia neque numquam officiis pariatur,
        perferendis quam quasi quibusdam rerum sapiente sint soluta ullam
        voluptatum. Aliquid corporis dolore, dolorem ducimus error est in ipsa
        laborum laudantium, magni nemo nesciunt nisi, optio quae quia quis
        similique tenetur unde vel veritatis. Accusamus asperiores cum dolores
        expedita facere illum numquam quas suscipit veniam vero. Accusamus
        adipisci aliquam aliquid dolor ea est fuga iste laudantium odio
        officiis, provident quam, quos, recusandae reiciendis similique sint
        vero voluptate. At dolore iure modi mollitia nemo non quae,
        reprehenderit! A accusamus aspernatur assumenda aut autem delectus
        distinctio dolor dolore dolorem dolores eaque eligendi esse et, facilis
        incidunt labore nobis quisquam quos recusandae, rerum similique
        voluptatibus.
      </div>
    </div>
    <div class="col-lg-12 bg-light">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button
            class="nav-link active"
            data-bs-toggle="tab"
            data-bs-target="#nav-ingredients"
            type="button"
            role="tab"
            aria-controls="nav-ingredients"
            aria-selected="true">
            Ingredients
          </button>
          <button
            class="nav-link"
            id="nav-activities-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-activities"
            type="button"
            role="tab"
            aria-controls="nav-activities"
            aria-selected="false">
            Activities
          </button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-ingredients"
          role="tabpanel"
          aria-labelledby="nav-home-tab">
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center">
              Milk
              <span class="badge bg-primary rounded-pill">250 ml</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center">
              Eggs
              <span class="badge bg-primary rounded-pill">2 pieces</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center">
              Flour
              <span class="badge bg-primary rounded-pill">250 g</span>
            </li>
          </ul>
        </div>
        <div
          class="tab-pane fade"
          id="nav-activities"
          role="tabpanel"
          aria-labelledby="nav-profile-tab">
          <div class="list-group">
            <a
              href="#"
              class="list-group-item list-group-item-action active"
              aria-current="true">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Some placeholder content in a paragraph.</p>
              <small>And some small print.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Some placeholder content in a paragraph.</p>
              <small class="text-muted">And some muted small print.</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
              </div>
              <p class="mb-1">Some placeholder content in a paragraph.</p>
              <small class="text-muted">And some muted small print.</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
