<div class="row">
  <div class="col-md-6">
    <app-carousel></app-carousel>
  </div>
  <div class="col-md-6">
    <div class="fs-3 fw-bold">Example title</div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
      dolorem hic iste possimus repellat? Amet deserunt possimus ratione rerum.
      Ad asperiores beatae debitis earum error eum exercitationem explicabo
      iusto modi molestiae, officiis porro quisquam quos repellat sint suscipit
      temporibus ullam vel veritatis voluptatibus? Ab enim ipsum quod ratione
      repudiandae soluta vitae. Adipisci, amet architecto dignissimos eaque
      harum in incidunt, iure iusto obcaecati omnis quaerat quo quos,
      repellendus sed sunt unde vero? Accusantium et iste laudantium, nemo sequi
      sint voluptatibus! Alias amet consectetur culpa delectus dolore dolores
      eaque earum enim est et eum hic ipsam iste labore laudantium natus nemo
      obcaecati, provident quae quam quisquam repellendus reprehenderit unde
      vitae voluptate. Adipisci cupiditate dolore ducimus explicabo hic in iure
      nihil nobis nostrum quaerat qui quod, reprehenderit sit. Ad aliquam aut
      beatae corporis, delectus, dignissimos dolorem enim eum eveniet explicabo
      facere impedit inventore itaque laudantium libero mollitia neque numquam
      officiis pariatur, perferendis quam quasi quibusdam rerum sapiente sint
      soluta ullam voluptatum. Aliquid corporis dolore, dolorem ducimus error
      est in ipsa laborum laudantium, magni nemo nesciunt nisi, optio quae quia
      quis similique tenetur unde vel veritatis. Accusamus asperiores cum
      dolores expedita facere illum numquam quas suscipit veniam vero. Accusamus
      adipisci aliquam aliquid dolor ea est fuga iste laudantium odio officiis,
      provident quam, quos, recusandae reiciendis similique sint vero voluptate.
      At dolore iure modi mollitia nemo non quae, reprehenderit! A accusamus
      aspernatur assumenda aut autem delectus distinctio dolor dolore dolorem
      dolores eaque eligendi esse et, facilis incidunt labore nobis quisquam
      quos recusandae, rerum similique voluptatibus.
    </div>
  </div>
  <div class="col-md-12">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-home-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-home"
          type="button"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true">
          Home
        </button>
        <button
          class="nav-link"
          id="nav-profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-profile"
          type="button"
          role="tab"
          aria-controls="nav-profile"
          aria-selected="false">
          Profile
        </button>
        <button
          class="nav-link"
          id="nav-contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-contact"
          type="button"
          role="tab"
          aria-controls="nav-contact"
          aria-selected="false">
          Contact
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-home"
        role="tabpanel"
        aria-labelledby="nav-home-tab">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet culpa,
        delectus dolorum eius ex exercitationem ipsam laborum magnam maxime
        natus nobis soluta tempore temporibus vel voluptates. Ab adipisci
        dignissimos doloremque eaque, illo laborum libero minus molestias nam
        neque pariatur placeat quibusdam, quidem quis quos ratione rem sint,
        unde vel voluptatibus. Ad architecto corporis cum natus nihil odio porro
        praesentium quas quod. Accusamus amet aperiam aut autem beatae
        blanditiis commodi culpa dolore dolorem dolorum eaque esse ex
        exercitationem explicabo ipsa iusto laborum mollitia nam natus ratione
        ut vel, veniam voluptates. Itaque quos, totam? Atque magnam molestias,
        mollitia nihil numquam quaerat voluptates!
      </div>
      <div
        class="tab-pane fade"
        id="nav-profile"
        role="tabpanel"
        aria-labelledby="nav-profile-tab">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet,
        eum iusto nisi quidem repellendus vero? Aperiam, assumenda, culpa
        dignissimos, exercitationem fugiat incidunt ipsam labore nemo pariatur
        quia quo reiciendis tempore voluptatum. Aliquid asperiores atque
        consequatur cum doloremque doloribus ea, enim eos ex excepturi
        exercitationem ipsa iure nemo, numquam odit perferendis perspiciatis rem
        repudiandae voluptas voluptate? Ad aperiam at consequuntur deleniti
        dicta doloremque eius et harum incidunt ipsam ipsum iusto maxime minima
        mollitia, officia officiis omnis quam quas qui quisquam sed sunt
        temporibus ullam vel veniam voluptates voluptatibus voluptatum?
        Architecto asperiores corporis cumque fugit in minus natus nesciunt
        nulla obcaecati odit pariatur porro, quia quo sapiente similique unde,
        voluptate! Adipisci commodi culpa cupiditate eos et eveniet
        exercitationem, fuga inventore itaque maiores modi quibusdam sed.
        Eveniet nulla qui veniam! Aliquam autem dolor ducimus eaque eveniet
        ipsum iure, quos tempora? Asperiores, quidem, quo. Aliquid cum delectus
        eveniet id iure minima quasi quidem!
      </div>
      <div
        class="tab-pane fade"
        id="nav-contact"
        role="tabpanel"
        aria-labelledby="nav-contact-tab">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut
        autem deserunt eaque error eum facere illo illum nesciunt officia
        provident qui sapiente tempora, ullam velit vero vitae! Aperiam maxime
        perspiciatis reiciendis reprehenderit? Neque, optio, quidem? Corporis
        distinctio dolores illo non, quo reprehenderit sint voluptatum! Aliquid
        amet animi, autem delectus dicta dolorem eligendi incidunt nemo nisi
        officia officiis, omnis quibusdam quidem quis rem sed similique suscipit
        veritatis? Atque eveniet iure sit tempore vero. Adipisci consectetur
        dignissimos nihil praesentium tenetur voluptas, voluptatibus voluptatum.
        Aliquam amet asperiores at consequatur consequuntur cumque debitis
        ducimus eos eveniet explicabo id impedit in iste magnam magni maxime
        minus nemo nihil, nostrum, odit omnis quae qui sed tempora tempore
        veritatis, voluptate voluptatibus! Assumenda deserunt dolore, doloribus
        exercitationem facere labore modi quo quod sequi similique sit tempora,
        tempore totam ut voluptate. Aliquid amet animi aperiam aspernatur atque
        beatae blanditiis consectetur corporis debitis delectus dignissimos
        distinctio dolor dolore doloribus ducimus enim esse exercitationem
        expedita explicabo illo in incidunt iste iusto natus nostrum nulla
        numquam odit placeat possimus, quis recusandae rem repellendus sequi
        veniam veritatis voluptate, voluptatum. Adipisci, aliquid animi, atque
        consequatur deserunt dolor ea eius esse et ipsam libero magni nam nulla
        numquam optio qui quos repellat sed veniam.
      </div>
    </div>
  </div>
</div>
