<div class="col-md-6">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="true">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/assets/img/pexels-jan-n-g-u-y-e-n-🍁-699953.jpg"
          class="d-block w-100"
          alt="..." />
      </div>
      <div class="carousel-item">
        <img
          src="/assets/img/pexels-foodie-factor-566566.jpg"
          class="d-block w-100"
          alt="..." />
      </div>
      <div class="carousel-item">
        <img
          src="/assets/img/pexels-pixabay-461198.jpg"
          class="d-block w-100"
          alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="col-md-4">
  <div class="fs-3 fw-bold">Example title</div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorem
    hic iste possimus repellat? Amet deserunt possimus ratione rerum. Ad
    asperiores beatae debitis earum error eum exercitationem explicabo iusto
    modi molestiae, officiis porro quisquam quos repellat sint suscipit
    temporibus ullam vel veritatis voluptatibus? Ab enim ipsum quod ratione
    repudiandae soluta vitae. Adipisci, amet architecto dignissimos eaque harum
    in incidunt, iure iusto obcaecati omnis quaerat quo quos, repellendus sed
    sunt unde vero? Accusantium et iste laudantium, nemo sequi sint
    voluptatibus! Alias amet consectetur culpa delectus dolore dolores eaque
    earum enim est et eum hic ipsam iste labore laudantium natus nemo obcaecati,
    provident quae quam quisquam repellendus reprehenderit unde vitae voluptate.
    Adipisci cupiditate dolore ducimus explicabo hic in iure nihil nobis nostrum
    quaerat qui quod, reprehenderit sit. Ad aliquam aut beatae corporis,
    delectus, dignissimos dolorem enim eum eveniet explicabo facere impedit
    inventore itaque laudantium libero mollitia neque numquam officiis pariatur,
    perferendis quam quasi quibusdam rerum sapiente sint soluta ullam
    voluptatum. Aliquid corporis dolore, dolorem ducimus error est in ipsa
    laborum laudantium, magni nemo nesciunt nisi, optio quae quia quis similique
    tenetur unde vel veritatis. Accusamus asperiores cum dolores expedita facere
    illum numquam quas suscipit veniam vero. Accusamus adipisci aliquam aliquid
    dolor ea est fuga iste laudantium odio officiis, provident quam, quos,
    recusandae reiciendis similique sint vero voluptate. At dolore iure modi
    mollitia nemo non quae, reprehenderit! A accusamus aspernatur assumenda aut
    autem delectus distinctio dolor dolore dolorem dolores eaque eligendi esse
    et, facilis incidunt labore nobis quisquam quos recusandae, rerum similique
    voluptatibus.
  </div>
</div>
